@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap");

/* dark-gray: #1b1b1b;
light-gray: #7a7a7a;
green: #2ba837; */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 10vh;
  font-size: 1.6rem;
  /* font-family: Oswald, Arial, Oswald, sans-serif; */
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* .grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1rf;
  grid-template-rows: 10rem 1fr 5rem;
  height: 100%;
} */

/* header {
  background-color: #111;
  height: 70px;
} */

main {
  padding: 1rem;
  min-height: 90vh;
}

footer {
  background-color: #131313;
  color: #fff;
}

/* common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: #785115;
}

a:hover {
  /* color: #ff8000; */
  /* color: #15ff15; */
  /* color: #637d75; */
  color: #c8a165;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

input,
select,
textarea,
button,
.back {
  padding: 1rem;
  border: none;
  color: #000;
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  border-bottom: 0.1rem #ddd solid;
  transition: 0.2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
.back {
  background-color: #f8f8f8;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
button.trash_bin {
  border: none;
  background-color: transparent;
  font-size: 2.2rem;
}

button.trash_bin:hover {
  color: red;
}

button.primary:disabled,
button.primary:disabled:hover {
  background-color: #7a7a7a;
  color: #c0c0c0;
}

input:hover,
select:hover,
textarea:hover {
  border-bottom: 0.1rem #000 solid;
}

input:active,
select:active,
textarea:active {
  border-bottom: 0.1rem #000 solid;
}

button.primary {
  color: #fff;
  background-color: #34615c;
}
button.primary:hover {
  background-color: #4b9168;
}

button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}

/* Header */

.header_brand {
  background-color: #111;
}

.user_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user_box .dropdown,
.cart_icon {
  width: 8rem;
  text-align: center;
}

.logo {
  width: 7.5rem;
  padding: 1rem 0.3rem 1rem 2rem;
}

header a {
  /* color: #111; */
  color: #fff;
  font-size: 1.4rem;
}

header a .fa {
  font-size: 2rem;
}

p.brand,
h1.brand {
  font-family: "Signika", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  font-size: 2.8rem;
  padding: 0.3rem;
  margin: 0rem;
  text-align: center;
}
p.brand {
  font-family: "Signika", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  font-size: 1rem;
  padding-top: 0;
}

.badge {
  background-color: #f02020;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

nav {
  background-color: #7a7a7a;
  color: #fff;
}

ul.row {
  width: 100%;
  justify-content: space-around;
  height: 4rem;
}

nav li {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.9rem;
}

nav li:hover {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.9rem;
  background-color: #34615c;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 40rem;
}

.col-2 {
  flex: 2 1 40rem;
}

.min-30 {
  min-width: 30rem;
}

/* carousel */
.carousel-slider {
  width: 110%;
  max-height: 420px;
  position: relative;
}
.thumbs-wrapper {
  display: none;
}
@media screen and (max-width: 992px) {
  .carousel-root {
    display: none;
  }
}

p.desc51 {
  position: absolute;
  top: 120px;
  right: 15px;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

p.desc52 {
  position: absolute;
  top: 200px;
  right: 15px;
  color: red;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
}
/* Image */

img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 8rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.large {
  max-width: 40rem;
  width: 100%;
}

/* Card */
.card {
  background-color: #fff;
  margin: 1rem;
  text-align: center;
  /* max-width: 290px; */
}

.card img.medium {
  background-color: #fff;
  margin: 0.5rem 0;
}

.card img.medium:hover {
  width: 100%;
  transform: scale(1.02);
  overflow: hidden;
}

.card-body {
  padding: 1rem;
  background-color: #fff;
}

.card-body > * {
  color: #111;
  margin-bottom: 0.5rem;
}

.card-body h2 {
  max-width: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

.card-body h2:hover {
  color: #4b9168;
}

.price {
  font-size: 2.4rem;
  font-weight: bold;
}

/* Rating */

.rating span {
  color: #c8a165;
  margin: 0.1rem;
  font-size: 1.3rem;
}

.rating span:last-child {
  color: #404040;
  font-size: 1.2rem;
}

/* Alert */
.loading {
  display: block !important;
}

.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem 1px solid transparent;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
.form h1 {
  text-align: center;
}

/* register
.register_box,
.signin_box {
  display: flex;
  flex-direction: row;
} */

/* .redirect {
} */

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  top: 4rem;
  right: 0;
  min-width: 35rem;
  z-index: 1;
  margin: 0;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}

.dropdown-content li {
  padding: 2rem;
  /* padding-top: 1rem; */
  margin-top: 0;
}
.dropdown-content.logged li:hover,
.dropdown-content.admin li:hover {
  background-color: #e4e4e4;
}

.dropdown-content.logged li a,
.dropdown-content.admin li a {
  color: #000;
}

.dropdown-content li.signin,
.dropdown-content li.register {
  padding: 1rem 3rem 3.5rem 3rem;
}
.dropdown-content li.signin {
  background-color: #eee;
}

/* .dropdown-content li.register {
  background-color: #fff;
} */

.dropdown-content a {
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}

.dropdown-content li.signin a {
  margin-bottom: 1rem;
  background-color: #34615c;
}
.dropdown-content li.signin a:hover {
  background-color: #4b9168;
  color: white;
}

.dropdown-content li.register a {
  margin-bottom: 1rem;
  border: 2px solid #000;
  color: #000;
}

.dropdown-content li.register a:hover {
  background-color: #000;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #c8a165;
  color: #785115;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

/* Cart */

.empty_cart {
  text-align: center;
  font-size: 2.2rem;
}

.empty_cart h2 {
  font-size: 3.2rem;
  font-weight: bold;
}
.empty_cart a {
  color: #7a7a7a;
  transition: 0.3s;
}
/* .empty_cart a:hover {
  color: #34615c;
  transform: scale(2);
} */

.empty_cart a:hover {
  color: #4b9168;
  font-weight: bold;
}
.cart {
  margin: 2rem;
}
.cart .row {
  justify-content: space-around;
}
.cart_summary {
  border: 3px #e4e4e4 solid;
}
.cart_summary li div {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.cart_summary ul li:nth-child(2) {
  margin: 2rem;
  text-align: center;
}

.cart_summary dt {
  text-transform: uppercase;
}

.cart_title {
  font-size: 2.5rem;
}
.cart_content {
  padding: 0.8rem;
  font-size: 1.5rem;
  background-color: #e4e4e4;
  text-transform: uppercase;
}

.back {
  width: 100%;
  background-color: #c8a165;
  color: #fff;
}
