@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap");

/* dark-gray: #1b1b1b;
light-gray: #7a7a7a;
green: #2ba837; */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 10vh;
  font-size: 1.6rem;
  font-family: Oswald, Arial, Oswald, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1rf;
  grid-template-rows: 10rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #111;
  height: 70px;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #114232;
  color: #fff;
}

/* common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  /* color: #ff8000; */
  /* color: #15ff15; */
  color: #2ba837;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #f0c040;
}

button.block {
  width: 100%;
}

/* Header */

.header_brand {
  background-color: #111;
}
.logo {
  width: 5.5rem;
  padding: 1rem 0.3rem 1rem 2rem;
}

header a {
  /* color: #111; */
  color: #fff;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
}

p.brand,
h1.brand {
  font-family: "Signika", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  font-size: 2.8rem;
  padding: 0.3rem;
  margin: 0rem;
  text-align: center;
}
p.brand {
  font-family: "Signika", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  font-size: 1rem;
  padding-top: 0;
}

.badge {
  background-color: #f02020;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

nav {
  background-color: #7a7a7a;
  color: #fff;
}
ul.row {
  width: 100%;
  justify-content: space-around;
  height: 4rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.min-30 {
  min-width: 30rem;
}

/* Image */

img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.large {
  max-width: 40rem;
  width: 100%;
}

/* Card */
.card {
  /* border: 0.1rem #c0c0c0 solid; */
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 1rem;
  max-width: 290px;
}

.card img.medium {
  background-color: #fff;
  margin: 0.5rem 0;
}

.card img.medium:hover {
  width: 100%;
  transform: scale(1.02);
  overflow: hidden;
}

.card-body {
  padding: 1rem;
  background-color: #eee;
}

.card-body > * {
  color: #111;
  margin-bottom: 0.5rem;
}

.card-body h2 {
  max-width: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

.card-body h2:hover {
  color: #777;
}

.price {
  font-size: 2.8rem;
  font-weight: bold;
}

/* Rating */

.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
  font-size: 1.2rem;
}

/* Alert */

.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem 1px solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
